[submodule "mask-rcnn/matterport"]
	path = mask-rcnn/matterport
	url = https://github.com/matterport/Mask_RCNN
[submodule "yolov4/tensorflow"]
	path = yolov4/tensorf
	url = https://github.com/hunglc007/tensorflow-yolov4-tflite
[submodule "darknet"]
	path = darknet
	url = https://github.com/AlexeyAB/darknet
[submodule "yolov4/darknet"]
	path = yolov4/darknet
	url = https://github.com/AlexeyAB/darknet
